@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(11,19,43);
  background: linear-gradient(0deg, rgba(11,19,43,1) 0%, rgba(28,37,65,1) 60%, rgba(46,69,97,1) 100%);
  font-family: 'Oswald', sans-serif;
}

.heading{ 
font-size: 40px;
margin: 30px 0;
color: #E7E6F7;
z-index: 1;
text-align: center;
}

@media (max-width: 800px) {
  .heading{ 
    font-size: 30px;
    margin: 15px 0;
    }
     
}
